.all-file {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  :deep(.u-head) {
    display: flex;
    align-items: center;
    height: 100px;
    color: #303133;
    font-size: 18px;
  }
  :deep(.u-main) {
    position: relative;
    display: flex;
    height: 520px;
    //align-items: start;
  }
}